body{
font-family: 'Source Serif Pro', serif!important;
box-sizing: border-box!important;
}
/*    --Navbar -- */
.main_menu .navbar-brand {
padding-top: 0
}
.main_menu .navbar {
padding: 33px 0
}
.main_menu .main-menu-item {
text-align: center
}
.main_menu .main-menu-item ul li a {
color: #2a2a2a;
font-size: 13px;
font-family: "source serif pro",serif;
text-transform: uppercase;
font-weight: 600
}
.main_menu .navbar-light .navbar-nav .nav-link {
color: #2a2a2a;
padding: 7px 20px
}
.main_menu .navbar-light .navbar-nav a:hover{
color: red;
}
.main_menu .navbar-light a:hover{
color: red;
}
.main_menu .header_social_icon ul li {
display: inline-block
}
.main_menu .header_social_icon ul li a {
color: #2a2a2a;
padding-right: 15px;
font-size: 13px
}
.main_menu #search_input_box {
background-color: #fff;
text-align: center;
padding: 5px 20px;
position: fixed;
width: 100%
}
.main_menu #search_input_box .form-control {
background: 0 0;
border: 0;
color: #fff;
font-weight: 400;
font-size: 15px;
padding: 0
}
.main_menu #search_input_box .form-control:focus {
box-shadow: none;
outline: none
}
.main_menu #search_input_box input.placeholder {
color: #fff;
font-size: 14px
}
.main_menu #search_input_box input:-moz-placeholder {
color: #fff;
font-size: 14px
}
.main_menu #search_input_box input::-moz-placeholder {
color: #fff;
font-size: 14px
}
.main_menu #search_input_box input::-webkit-input-placeholder {
color: #fff;
font-size: 14px
}
.main_menu #search_input_box .btn {
width: 0;
height: 0;
padding: 0;
border: 0
}
.main_menu #search_input_box .lnr-cross {
color: #fff;
font-weight: 600;
cursor: pointer;
padding: 10px 3px
}
.main_menu #wrap {
display: inline-block;
position: relative;
padding: 0;
position: relative
}
.main_menu #wrap span {
margin-right: 19px;
padding-right: 25px;
border-right: 2px solid #a0a5a7
}
.main_menu input[type=text] {
height: 40px;
font-size: 14px;
display: inline-block;
font-weight: 100;
border: none;
outline: none;
color: #555;
padding: 3px;
padding-left: 15px;
padding-right: 60px;
width: 0;
position: absolute;
top: -10px;
right: 40px;
background: 0 0;
z-index: 3;
transition: width .4s cubic-bezier(0,.795,0,1);
cursor: pointer
}
.main_menu input[type=text]:focus:hover {
border: 2px solid #ffe4e4
}
.main_menu input[type=text]:focus {
width: 300px;
z-index: 1;
cursor: text;
border: 2px solid #ffe4e4;
background-color: #fafafa;
}
.home_menu {
position: absolute;
left: 0;
top: 0;
width: 100%;
z-index: 999
}
.menu_fixed {
position: fixed;
z-index: 9999!important;
width: 100%;
background-color: #fff;
box-shadow: 0 10px 15px rgba(0,0,0,.05);
top: 0
}
.menu_fixed span {
color: #000!important
}
.dropdown .dropdown-menu {
transition: all .5s;
overflow: hidden;
transform-origin: top center;
transform: scale(1,0);
display: block;
margin-top: 18px
border: 0 solid rgba(0,0,0,.15)!important;
background-color: #fafafa;
}
.dropdown .dropdown-menu .dropdown-item {
font-size: 14px;
padding: 8px 20px
}
.dropdown:hover .dropdown-menu {
transform: scale(1)
}
.menu_fixed {
    position: fixed;
    z-index: 9999 !important;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    top: 0;
}
/*    --/Navbar -- */
/*------------------- Contact-post ------------------------*/
.Contact-post{
background-color: #fff1f1;
text-align: center;
padding: 0rem;
padding-top: 100px;
margin-bottom: 0px !important;
}
.Contact-post .iner{
height: 150px;
width: 100%;
display: table;
}
.Contact-post .iner .iner_item{
display: table-cell;
vertical-align: middle;
}
.Contact-post .iner .iner_item h2{
color: #000;
font-size: 27px;
font-weight: 600;
margin-bottom: 0px;
text-transform: capitalize;
}
/*------------------- /Contact-post ------------------------*/
/*------------------- Contact-form-section ------------------------*/
.contact-section {
padding: 100px 0;
}
/*------------------------ left-side -------------------------------*/
.title{
font-size: 27px;
font-weight: 600;
margin-bottom: 20px;
padding-top: 50px;
}
.form-contact .form-control {
border: 1px solid #f0e9ff;
border-radius: 5px;
padding-left: 18px;
font-size: 13px;
background: 0 0;
}
.btn_1 {
display: inline-block;
padding: 14.5px 22px;
font-size: 14px;
color: #fff;
transition: all .4s ease-in-out;
text-transform: capitalize;
background-color: #ef1313;
margin: 0 auto;
}
.load_btn a{
text-decoration: none;
}
.btn_1 i {
font-size: 12px;
padding-left: 10px;
}
.btn_1:hover {
color: #fff!important;
background-color: #2a2a2a;
}
/*------------------------ /left-side -------------------------------*/
/*------------------------ right-side -------------------------------*/
.contact-info{
margin-bottom: 25px;
}
.contact-info-icon {
margin-right: 20px;
}
.contact-info-icon i{
color: #8f9195;
font-size: 27px;
}
.contact-info .media-body h3 {
margin-bottom: 0;
font-size: 16px;
color: #2a2a2a;
}
.contact-info .media-body p {
color: #8a8a8a;
}
/*------------------------ /right-side -------------------------------*/
/*------------------- /Contact-form-section ------------------------*/
/*<!------------------ footer -------------------------->*/
.footer-area{
background-color: #111516;
padding: 100px 0px 30px;
}
.footer-area .about h4{
color: #fff;
font-style: inherit;
margin-bottom: 23px;
font-weight: 700;
font-size: 24px;
}
.footer-area .about p{
color: #8f8f8f;
font-size: 14px;
}
.footer-area .contact h4{
color: #fff;
font-style: inherit;
margin-bottom: 23px;
font-weight: 700;
font-size: 24px;
}
.footer-area .contact_info{
position: relative;
padding-left: 35px;
margin-bottom: 20px;
}
.footer-area .contact span{
font-size: 18px;
color: #ef1313;
position: absolute;
left: 0;
top: 5px;
box-sizing: border-box!important;
}
.footer-area .contact h5{
font-size: 16px;
color: #fff;
margin-bottom: 1px;
}
.footer-area .contact p{
color: #8f8f8f;
font-size: 14px;
}
.footer-area .Newsletter h4 {
color: #fff;
font-style: inherit;
margin-bottom: 23px;
font-weight: 700;
font-size: 24px;
}
.footer-area .Newsletter p {
color: #8f8f8f;
font-size: 14px;
}
.footer-area .Newsletter input{
height: 48px;
width: 67% !important;
font-weight: 400;
background: transparent;
padding-left: 20px;
font-size: 14px;
padding: 10px;
color: #999999;
}
.footer-area .Newsletter input:focus{
box-shadow: none;
}
.footer-area .btn{
margin-left:1px;
background-color: #ef1313;
color: #fff;
width: 49px;
border-radius: 0px;
height: 48px;
}
.footer-area .copyright_part_text p{
font-size: 15px;
line-height: 1.929;
color: #8f8f8f;
}
.footer-area .copyright_part_text a{
color: #ef1313;
text-decoration: none;
}
.footer-area .copyright_part_text{
border-top: 1px solid #41404f;
padding-top: 30px;
margin-top: 83px;
}
/*<!------------------ /footer -------------------------->*/